<div mat-dialog-content>
    <ng-container>
        <h3 class="accent">Czy jesteś pewny?</h3>
    </ng-container>

    <div class="button-actions">
        <button class="prime" style="display:inline-block" (click)="onOkClick()"><span>Usuń</span></button>

        <button class="prime secondary" style="display:inline-block" (click)="onNoClick()"><span>Anuluj</span></button>
    </div>
</div>