.button-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    button.prime {
        width: 150px;
        height: 40px;
        margin-right: 22px;
        &.secondary {
            background: transparent;
            color: #FFA786;
            margin-right: 0;
            margin-left: 22px;
        }
    }
}