.popup {
    min-width: 237px;
    padding: 10px 20px;
    border-radius: 6px;
    box-shadow: 0px 3px 30px rgba(103, 42, 42, 0.19);
    text-align: left;
    position: absolute;
    right: 18px;
    bottom: -86px;
    background: #fff;
    z-index: 1;
    p {
        font-size: 16px;
        line-height: 20px;
        color: #FFA786;
        letter-spacing: 1.6px;
        margin: 0;
        display: flex;
        align-items: center;
        text-transform: uppercase;
    }
    i {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0;
        color: #FFA786;
        margin-right: 20px;
    }
}