.element {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // padding: 30px 15px 15px 15px;
}

.head {
    width: 100%;
    max-height: 134px;
    padding-top: 30px;
    background-color: rgb(196, 196, 196, 0.1);
    border-bottom: 1px solid #F1F1F1;
}

.content {
    padding-top: 99px;
    padding-bottom: 40px;
}

.icon-img {
    cursor: pointer;
}

.accent {
    margin-bottom: 0;
}

.img-wrapper {
    position: relative;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    background: #fff;
    border-radius: 50%;
    .empty {
        padding: 48px 45px;
        text-align: center;
        i {
            font-size: 60px;
            line-height: 69px;
            color: #EBEBEB;
        }
    }
    img,
    .empty {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border: 3px solid #EBEBEB;
        border-radius: 50%;
    }
    span {
        background: #FFA786 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 15px rgba(211, 173, 166, .5);
        border: 1px solid rgba(255, 255, 255, .36);
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: block;
        padding: 5px;
        text-align: center;
        position: absolute;
        top: 16px;
        right: 0;
        i {
            font-size: 18px;
            line-height: 21px;
            color: #fff;
        }
    }
}

.button-actions {
    border-top: 1px solid rgba(196, 196, 196, .25);
    padding: 15px;
    text-align: center;
    button.prime {
        margin: 0 auto;
        box-shadow: none;
    }
}

.input-wrapper {
    &.desc {
        margin-top: 15px;
        margin-bottom: 16px;
        width: 400px;
        padding: 0 23px;
        textarea {
            width: 100%;
            height: 50px;
            &::placeholder {
                vertical-align: top;
            }
        }
        &:after {
            width: calc(100% - 54px);
        }
    }
    margin: 0 auto;
    input {
        &.accent {
            min-width: 276px;
        }
        text-align: center;
    }
    textarea {
        text-align: center;
    }
    position: relative;
    .border {
        width: 100%;
        background-color: #FFA786;
        height: 1px;
        display: block;
        visibility: hidden;
        &.err {
            visibility: visible;
        }
    }
    .text-len {
        letter-spacing: 0.6px;
        line-height: 15px;
        font-size: 12px;
        color: #c4c4c4;
        width: 100%;
        display: block;
        text-align: right;
        padding-top: 2px;
        visibility: hidden;
    }
    &:focus,
    &:focus-within {
        .text-len,
        .border {
            visibility: visible;
        }
    }
}

small {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
    color: #c4c4c4;
}

.sub-accent {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

.portions {
    margin-top: 12px;
    .portion-item {
        width: 32px;
        height: 32px;
        display: inline-block;
        text-align: center;
        border: 0.7px solid #c4c4c4;
        border-radius: 50%;
        background: #fff;
        font-size: 18px;
        line-height: 23px;
        padding: 4px;
        font-weight: 600;
        cursor: pointer;
        user-select: none;
        color: #c4c4c4;
        margin: 0 9px;
        &.selected {
            border-color: #FFA786;
            color: #FFA786;
        }
    }
}

.prices {
    padding-top: 48px;
    text-align: center;
    .item {
        width: 93px;
        margin: 0 15px;
        .input-wrapper input {
            min-width: auto;
            width: 100%;
            padding: 5px 0;
        }
        .summary {
            padding: 5px 0;
            display: inline-block;
            font-weight: 600;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0;
            &,
            small {
                color: #818181;
            }
        }
    }
}

.currency {
    display: inline-block;
    max-width: 100%;
    input {
        max-width: inherit;
    }
    small {
        padding-left: 2px;
    }
    &.touched {
        small {
            color: #FFA786;
        }
    }
}

@media all and (max-width: 400px) {
    .input-wrapper {
        &,
        input {
            width: 100% !important;
            min-width: auto !important;
        }
    }
}