<div mat-dialog-content>
    <div class="element">
        <div class="head">
            <div class="img-wrapper">
                <ng-container *ngIf="cake && cake.img">
                    <img [src]="cake.img">
                    <span class="icon-img" (click)="imageInput.click()">
                        <i class="la la-pencil" ></i>
                    </span>
                </ng-container>

                <ng-container *ngIf="!cake || !cake.img">
                    <div class="empty">
                        <i class="la la-birthday-cake"></i>
                    </div>
                    <span class="icon-img" (click)="imageInput.click()">
                        <i class="la la-plus" ></i>
                    </span>
                </ng-container>
                <input #imageInput type="file" accept="image/*" (change)="editImage(imageInput)" class="cdk-visually-hidden" [formControl]="formControllers.img">

            </div>
        </div>
        <div class="content" fxLayout="column" fxLayoutAlign="center center">
            <div class="input-wrapper">
                <input type="text" class="accent" placeholder="Nazwa ciasta" [(ngModel)]="cake.title" [formControl]="formControllers.title">
                <span class="border"></span>
            </div>
            <div class="input-wrapper desc">
                <textarea placeholder="Opis ciasta" cols="3" rows="3" [(ngModel)]="cake.description" [formControl]="formControllers.description"></textarea>
                <span class="border"></span>
                <span class="text-len">{{ cake.description ? cake.description.length : 0 }}/250</span>
            </div>
            <p class="sub-accent">
                Liczba porcji
            </p>
            <div class="portions">
                <span class="portion-item" *ngFor="let item of portions" (click)="changePortion(item)" [ngClass]="{'selected': cake.numberOfPortions === item}">
                    {{item}}
                </span>
                <input type="hidden" name="portions" [(ngModel)]="cake.numberOfPortions" [formControl]="formControllers.numberOfPortions">

            </div>
            <div class="prices" fxLayout="row">
                <div class="item">
                    <p class="sub-accent">
                        Cena Ciasta
                    </p>
                    <div class="input-wrapper">
                        <div class="currency" [ngClass]="{'touched': cake.price || cake.price === 0}">
                            <input type="text" type="number" class="accent" placeholder="0" max="6" maxlength="6" [(ngModel)]="cake.price" appFluidInput [formControl]="formControllers.price" />
                            <small>PLN</small>
                        </div>
                        <span class="border"></span>
                    </div>
                </div>
                <div class="item">
                    <p class="sub-accent">
                        Cena Porcji
                    </p>
                    <span class="summary">{{cake.price && cake.numberOfPortions ? (cake.price * cake.numberOfPortions): 0}}
                        <small>PLN</small></span>
                </div>
            </div>

        </div>
    </div>
    <div class="button-actions">
        <button class="prime" style="display:inline-block" (click)="onOkClick()"><span>Zapisz</span></button>
    </div>
</div>