<div class="header">
    <img src="./assets/CakeShop.png" alt="CakeShop logo">
    <app-popup></app-popup>
</div>
<div class="container">
    <app-panel></app-panel>
</div>
<router-outlet></router-outlet>