.header {
    height: 156px;
    padding: 20px 0 14px;
    margin-bottom: 62px;
    text-align: center;
    border-bottom: 1px solid #F0F0F0;
    position: relative;
    img {
        width: 130px;
        height: 116px;
    }
}

.container {
    max-width: 632px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}