/* You can add global styles to this file, and also import other style files */

@import '~normalize.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'colors';
* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'PT Sans', sans-serif;
}

button {
    &.prime {
        width: 192px;
        height: 45px;
        background: linear-gradient(to right, #FFDE86, #FF5A1C) no-repeat padding-box;
        box-shadow: 3px 0px 20px #E2B79C;
        border-radius: 29px;
        border: 0;
        letter-spacing: 1.12px;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 0 19px 0 14px;
        span {
            font-size: 14px;
            vertical-align: middle;
            font-weight: 600;
            line-height: 26px;
        }
        i {
            font-size: 26px;
            vertical-align: middle;
            float: left;
        }
    }
}

.accent {
    color: $accent;
    margin: 0 0 22px 0;
    line-height: 30px;
}

.sub-accent {
    color: $sub-accent;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 26px;
    margin: 0;
}

app-panel {
    position: relative;
}

.edit-dialog {
    .mat-dialog-content {
        margin: 0;
        padding: 0;
        height: 100%;
        max-height: 95vh;
    }
    .mat-dialog-container {
        padding: 0;
        box-shadow: 0px 3px 30px #848484;
        border-radius: 6px;
    }
}

.edit-shadow {
    background: rgb(0, 0, 0, 0.41) 0% 0% no-repeat padding-box;
}

input {
    &.accent {
        font-weight: 600;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0;
        color: $accent;
        &::placeholder {
            color: rgba(196, 196, 196);
        }
    }
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.8px;
    border: 0;
    padding: 10px 0;
    &::placeholder {
        color: rgba(196, 196, 196, .61);
    }
    color: $sub-accent;
}

textarea {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.8px;
    border: 0;
    &::placeholder {
        color: rgba(196, 196, 196, .61);
    }
    resize: none;
    color: $sub-accent;
}

button {
    cursor: pointer;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}