<div class="empty-list" *ngIf="cakeArr && cakeArr.length === 0">
    <i class="la la-birthday-cake"></i>
    <h2 class="accent">Nie masz żadnych ciast na liście</h2>
    <h3 class="sub-accent">Aby dodać pierwsze ciasto, kliknij<br /> w poniższy przycisk:</h3>
</div>

<ng-container *ngIf="cakeArr && cakeArr.length > 0">
    <ng-container *ngFor="let cake of cakeArr; index as i">
        <div class="element" fxLayout="row" [attr.data-index]="i">
            <div>
                <img [src]="cake.img" alt="img">
            </div>
            <div class="content">
                <h3 class="accent">
                    {{ cake.title }}
                    <span class="icons">
                        <i class="la la-pencil" (click)="edit(i)"></i>
                        <i class="la la-times-circle" (click)="remove(i)"></i>
                    </span>
                </h3>
                <p class="sub-accent">
                    {{ cake.description }}
                </p>
                <div fxLayout="row" fxLayout.xs="column">
                    <div class="label">
                        Liczba Porcji
                        <span>
                            {{ cake.numberOfPortions }}
                        </span>
                    </div>
                    <div class="label">
                        Cena Ciasta
                        <span>
                            {{ cake.price }}
                            <small>PLN</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>



<button class="prime sticky" (click)="edit(false)"><i class="la la-plus"></i> <span>Dodaj Ciasto</span></button>