@import './../../colors';
.empty-list {
    text-align: center;
    // padding-top: 77px;
    padding-bottom: 161px;
    i.la.la-birthday-cake {
        font-size: 153px;
        color: #FFA786;
        opacity: 0.09;
        margin: 10px 0 37px;
    }
}

.element {
    border-bottom: 1px solid #C4C4C4;
    margin-top: 36px;
    min-height: 160px;
    text-align: left;
    padding: 0px 13px 34px 25px;
    border-bottom: 1px solid rgba(196, 196, 196, .25);
    img {
        width: 160px;
        height: 160px;
        border: 3px solid #EBEBEB;
        border-radius: 50%;
        flex-basis: 160px;
        object-fit: cover;
        object-position: center;
    }
    .content {
        padding-left: 30px;
        width: 100%;
    }
    .icons {
        position: absolute;
        top: 0;
        right: 0;
        i {
            cursor: pointer;
        }
    }
    .accent {
        font-size: 20px;
        padding-right: 65px;
        position: relative;
    }
    .sub-accent {
        font-size: 16px;
        letter-spacing: 0.8px;
        line-height: 20px;
        margin-bottom: 27px;
    }
    .label {
        display: flex;
        font-size: 12px;
        color: $sub-accent;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        vertical-align: middle;
        &,
        span,
        span:first-child:after {
            line-height: 23px;
        }
        span {
            color: $accent;
            font-size: 18px;
            letter-spacing: 0;
            vertical-align: middle;
            padding-left: 10px;
            font-weight: 600;
            small {
                font-size: 12px;
            }
        }
        &:first-child:after {
            content: '|';
            color: #F3F3F3;
            font-size: 18px;
            padding: 0 23px;
            vertical-align: middle;
        }
    }
    i {
        font-size: 24px;
        color: $accent;
        &:first-child {
            margin-right: 20px;
        }
    }
}

.prime.sticky {
    position: fixed;
    bottom: 23px;
    left: 50%;
    transform: translateX(-50%);
}

@media all and (max-width: 600px) {
    .element .label:first-child:after {
        display: none;
    }
}

@media all and (max-width: 400px) {
    button.prime {
        width: calc(100% - 20px);
        max-width: 192px;
        span {
            font-size: 0.8rem;
        }
    }
    .element {
        flex-flow: row wrap;
        justify-content: center;
        .content {
            padding-left: 0;
            padding: 15px 0;
        }
    }
}